
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    overflow: auto;
}

.header span:nth-child(1) {
    font-family: 'Moirai One', system-ui;
    font-weight: bold;
}

.header span:nth-child(2) {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: lighter;
}

#fogot_password {
    display: block;
    text-decoration: underline;
    color: orangered;
}

#main_login_container {
    width: 455px;
    display: flex;
    justify-content: center;
    padding:  10px 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    height: fit-content;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    flex-direction: column;
    position: relative;
    background-color: white;
    z-index: 1000;
}

#banner_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#main_log_container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

#main_login_container form {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_login_container input {
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
}

#main_login_container input:focus {
    outline: none;
}

.second_part {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.second_part a {
    font-size: 80%;
    padding: 2px;
    background-color: purple;
    width: 80%;
    color: white;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}

.second_part a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.second_part a:nth-child(1){
    background-color: #1877f2;
}

.second_part a:nth-child(2){
    background-color: transparent;
    border: 2px solid #e0e0e0;
    color: black;
}

.second_part a:nth-child(3){
    background-color: black;
    border: 2px solid black;
    color: white;
}

.second_part a:nth-child(3) img {
    width: 22px;
}

.second_part button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: black;
    margin: 10px 0;
}

.second_part button span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#main_login_container input[type="submit"] {
    background-color: blue;
    color: white;
    font-size: 20px;
}

h4 {
    font-size: 25px;
    color: orangered;
    margin-bottom: 10px;
}

.divider {
    position: relative;
    margin-bottom: 20px ;
}

.OR {
    position: absolute;
    top: -9px;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translateX(-10px);
    background-color: white;
}

#main_login_container #login_container, #main_login_container #signup_container {
    width: 100%;
    height: 100%;
    display: none;
}

#main_login_container  .active{
    display: block !important;
}

.loading_container{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.201);
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    width: 80px;
    height: 80px;
    border: 5px solid #e0e0e0;
    border-top: 5px solid blue;
    border-radius: 50%;
    animation: 1s spin ease infinite;
}

.loading_container.hide {
    display: none;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

#back_to_home_container {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    background-color: white;
}

#back_to_home_container p {
    margin-bottom: 4px;
}

#back_to_home_button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

#mail_msg,#signin_msg,#password_msg,#name_msg{
    color: red;
    margin-right: 75%;
    transform: translatey(-10px);
    opacity: 0;
    filter: blur(10px);
    display: none;
}

#password_msg{
    margin-right: 45%;
}

#name_msg{
    margin-right: 23%;
}

@media (max-width : 850px) {
    body {
        margin-top: 30px;
    }
}


@media (max-width : 500px) {
    #main_login_container {
        width: 90%;
    }
    
}

@media (max-height: 615px) {
    body {
        align-items: flex-start;
        margin-top: 30px;
    }

    #back_to_home_container {
        top: 10px;
        left: 30px;
    }
}